<div class="container mat-elevation-z4">
  <mat-card class="detailCard">
      <form [formGroup]="editForm">

      <mat-form-field appearance="fill">
        <mat-label>{{ 'checkoutForm.labels.firstName' | translate }}</mat-label>
        <input matInput
               formControlName="borrowerFirstName"
               placeholder="Borrower Firstname"
               [value]="checkout?.borrowerFirstName">
      </mat-form-field>
      <br />

      <mat-form-field appearance="fill">
        <mat-label>{{ 'checkoutForm.labels.lastName' | translate }}</mat-label>
        <input matInput
               formControlName="borrowerLastName"
               placeholder="Borrower Lastname"
               [value]="checkout?.borrowerLastName">
      </mat-form-field>
      <br />

      <mat-form-field appearance="fill">
        <mat-label>{{ 'checkoutForm.labels.checkedOutDate' | translate }}</mat-label>
        <input matInput
               formControlName="checkedOutDate"
               placeholder="CheckedOut Date"
               [value]="checkout?.checkedOutDate">
      </mat-form-field>
      <br />

      <mat-form-field appearance="fill">
        <mat-label>{{ 'booksForm.labels.dueDate' | translate }} </mat-label>
        <input matInput value={{checkout?.dueDate}} disabled>
      </mat-form-field>
      <br />

      <button mat-button color="primary" (click)="editCheckout()">
        {{ 'booksForm.update' | translate }}
      </button>
      <button mat-button color="warn" (click)="deleteCheckout()">
        {{ 'booksForm.delete' | translate }}
      </button>

    </form>
  </mat-card>
</div>
