<div class="container mat-elevation-z4">
  <mat-card>
    <mat-card-title>{{ 'checkouts.title' | translate }}</mat-card-title>
    <mat-card-content>
      <ngx-table
        [configuration]="configuration"
        [data]="data"
        [columns]="columns"
        [detailsTemplate]="detailsTemplate"
        (event)="onBookClick($event)"
      >
      </ngx-table>
      <ng-template #detailsTemplate let-row>
        <div *ngIf="isLateChekout(row.checkedOutDate, row.dueDate); else detailsOk">
          <b>{{ row.borrowerFirstName }}</b> -
          <b>{{ row.borrowerLastName }}</b>
          <b> is late </b>
        </div>
      </ng-template>
      <ng-template #detailsOk>
        <div>
          <span>checkout is on time</span>
        </div>
      </ng-template>

    </mat-card-content>
  </mat-card>
</div>
