<div class="container mat-elevation-z4">
  <mat-card class="detailCard">
      <form [formGroup]="editForm">

      <mat-form-field appearance="fill">
        <mat-label>{{ 'booksForm.labels.title' | translate }}</mat-label>
        <input matInput
               formControlName="title"
               placeholder="Title"
               [value]="book?.title">
      </mat-form-field>
      <br />

      <mat-form-field appearance="fill">
        <mat-label>{{ 'booksForm.labels.author' | translate }}</mat-label>
        <input
              matInput
              formControlName="author"
              placeholder="Author"
              [value]="book?.author">
      </mat-form-field>
      <br />

      <mat-form-field appearance="fill">
        <mat-label>{{ 'booksForm.labels.genre' | translate }}</mat-label>
        <input matInput
               formControlName="genre"
               placeholder="Genre"
               [value]="book?.genre">
      </mat-form-field>
      <br />

      <mat-form-field appearance="fill">
        <mat-label>{{ 'booksForm.labels.status' | translate }} </mat-label>
        <input matInput value={{book?.status}} disabled>
      </mat-form-field>
      <br />

      <button mat-button color="primary" (click)="editBook()">
        {{ 'booksForm.update' | translate }}
      </button>
      <button mat-button color="warn" (click)="deleteBook()">
        {{ 'booksForm.delete' | translate }}
      </button>

      <div class="example-button-container">
        <mat-label> {{ 'booksForm.addToFavourites' | translate }} </mat-label>

        <button mat-fab aria-label="Favourite" (click)="addToFavourites()">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>

    </form>
  </mat-card>
</div>
